@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* custom css */
    .flex-custom-center {
        @apply flex justify-center items-center
    }

    canvas, img, video, picture, figure {
        max-width: 100%;
        height: auto;
        box-sizing: border-box;
        display: block;
    }

    /* header css */
    .p-h {
        padding: calc(var(--gap)* 0.5) var(--container-padding);
        transition: var(--animation-nav);
    }

    /* on scroll header with less padding css */
    .p-h-scroll {
        padding: calc(var(--gap)* 0) var(--container-padding);
        transition: var(--animation-nav);
    }

    .p-nav {
        padding: calc(var(--gap)* 0.6) 0;
    }

    .line {
        width: 1.2px;
        height: calc(var(--copy-size-m)* 1.5);
        display: block;
        background-color: var(--color-border-active-light);
        transition: var(--animation-nav);
    }

    .gap-nav {
        gap: calc(var(--copy-size-m)* 1.5);
    }

    .cheeseburger {
        width: calc((var(--copy-size-m)* 3) + 1em);
        height: var(--btn-height-small);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        margin-left: calc(var(--copy-size-m)* -1.5);
    }
    .cheeseburger {
        cursor: pointer;
      }
      
      .cheeseburger {
        cursor: pointer;
      }
      
      .cheeseburger {
        cursor: pointer;
      }
      
      .cheeseburger-inner {
        width: 1.5em;
        height: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.188rem;
        align-items: center;
        position: relative;
        overflow: hidden;
      }
      
      .bar {
        background-color: rgba(var(--color-light-rgb), 1);
        width: 1em;
        height: 1px;
        transition: transform 0.3s ease;
      }
      
      .cheeseburger:hover .bar:nth-child(1) {
        transform: translateX(-20%);
      }
      
      .cheeseburger:hover .bar:nth-child(2) {
        transform: translateX(20%);
      }
      
      .cheeseburger:hover .bar:nth-child(3) {
        transform: translateX(-20%);
      }

    .cheese {
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        /* position: relative; */
        overflow: hidden;
    }

    /* nav list */
    .nav-a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: var(--btn-height-small);
        position: relative;
        cursor: pointer;
    }

    .nav-span {
        font-size: var(--copy-size-m);
        font-weight: 400;
        padding: 0 calc(var(--copy-size-m)* 1.5);
        margin-top: 0.05em;
        white-space: nowrap;
        text-shadow: 0px calc(var(--btn-shadow-distance)* 1.5) transparent;
        transform: translateY(0em) rotate(0.001deg);
        transition: text-shadow var(--animation-smooth), color var(--animation-nav);
        line-height: 1.1;
    }

    /* logo */
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* on scroll color */
    .filter-white {
        filter: brightness(0) invert(1);
    }

    /* button */

    .btn {
        cursor: pointer;
        background-color: rgba(var(--color-white-rgb), 0.2);
        backdrop-filter: blur(1em);
        -webkit-backdrop-filter: blur(1em);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: var(--border-radius);
        height: var(--btn-height-small);
        transition: var(--animation-nav);
    }

    .btn-content {
        display: flex;
        align-items: center;
        padding: 0 calc(var(--copy-size-m)* 1.33);
        width: 100%;
        overflow: hidden;
    }

    .btn-content span {
        font-size: var(--copy-size-m);
        color: var(--color-white);
        font-weight: 400;
        text-align: center;
        width: 100%;
        white-space: nowrap;
        padding: 0 calc(var(--copy-size-m)* 0.35);
        text-shadow: 0px calc(var(--btn-shadow-distance)* 1.5) transparent;
        transform: translateY(0em) rotate(0.001deg);
        transition: text-shadow var(--animation-smooth);
    }

    .border-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-border-light);

    }

    /* sidebar */
    .sidebar {
        transition: var(--animation-slow);
        pointer-events: all;
    }

    .side-nav {
        height: 100%;
        width: 25rem;
        background-color: var(--color-light);
        display: flex;
        flex-direction: column;
        padding-top: calc((var(--gap)* 1.1) + var(--btn-height-small));
        overflow: scroll;
        max-height: 100%;
        z-index: 2;
        position: relative;
        transition: var(--animation-slow);
    }

    .side-bar-close {
        margin-left: -25rem;
        transition: var(--animation-slow);
        height: 100%;
    }

    .cross {
        width: calc((var(--copy-size-m)* 3) + 1em);
        height: var(--btn-height-small);
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: relative; */
        cursor: pointer;
        margin-left: calc(var(--copy-size-m)* -1.5);
        position: absolute;
        top: calc(var(--gap)* 1.1);
        left: var(--container-padding);
    }

    .cross {
        width: calc((var(--copy-size-m)* 3) + 1em);
        height: var(--btn-height-small);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: calc(var(--copy-size-m)* -1.5);
        position: absolute;
        top: calc(var(--gap)* 1.1);
        left: var(--container-padding);
    }
    
    .cross-btn {
        width: 24px;
        height: 24px;
        position: relative;
    }
    
    .cross-bar {
        position: absolute;
        width: 1px;
        height: 1.1rem;
        background-color:black;
        top: 50%;
        left: 50%;
        transition: transform 0.3s ease;
    }
    
    .cross-bar:first-child {
        transform: translateY(-50%) rotate(45deg);
    }
    
    .cross-bar:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
    
    /* Hover animation */
    .cross:hover .cross-bar:first-child {
        transform: translateY(-50%) rotate(225deg);
    }
    
    .cross:hover .cross-bar:last-child {
        transform: translateY(-50%) rotate(135deg);
    }
    .p-sidebar {
        padding: var(--gap) var(--container-padding);
    }

    .eyebrow {
        display: block;
        text-transform: uppercase;
        letter-spacing: calc(0.75em * 0.12);
        font-size: 0.725em;
        line-height: 1;
        color: rgba(var(--color-dark-rgb), 0.4);
        font-weight: 400;
    }

    .small {
        letter-spacing: calc(0.65em * 0.12);
        font-size: 0.65em;
    }

    .side-nav-link {
        font-family: 'Kaftan Serif, serif';
        font-weight: 400;
        font-size: calc(var(--title-size) * 0.5);
        line-height: 1.2;
        color: var(--color-dark);
    }

    .border-custom {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-border);
        transition: var(--animation-primary);
    }

    .row-links-secondary {
        position: relative;
        display: flex;
        width: 100%;
        flex-shrink: 0;
        padding: max(var(--gap), 6vh) var(--container-padding);
        gap: var(--gap);
    }
    
}

/* root css */
:root {

    --color-dark-rgb: 50, 32, 24;
    --color-dark: rgba(var(--color-dark-rgb), 1);

    --color-light-rgb: 234, 229, 223;
    --color-light: rgba(var(--color-light-rgb), 1);

    --color-white-rgb: 248, 246, 244;
    --color-white: rgba(var(--color-white-rgb), 1);

    --color-black-rgb: 0, 0, 0;
    --color-black: rgba(var(--color-black-rgb), 1);

    --color-primary: #903C02;
    --color-secondary: #0A6365;
    --color-lightgray: #E0D9D1;

    --color-stone-50: var(--color-light);
    --color-stone-100: var(--color-lightgray);
    --color-stone-200: #CEC3B6;
    --color-stone-900: var(--color-dark);
    --color-butterflygreen-500: #2CA09E;
    --color-butterflygreen-700: var(--color-secondary);
    --color-butterflygreen-900: #00383C;
    --color-sunsetorange-800: var(--color-primary);
    --color-blur: rgba(210, 205, 200, 0.3);

    --color-border: rgba(var(--color-dark-rgb), 0.15);
    --color-border-light: rgba(var(--color-white-rgb), 0.175);
    --color-border-active: rgba(var(--color-dark-rgb), 0.25);
    --color-border-active-light: rgba(var(--color-white-rgb), 0.275);
    --color-text: rgba(var(--color-dark-rgb), 0.9);
    --color-text-light: rgba(var(--color-white-rgb), 0.9);

    --color-alert-error: #ff213e;
    --color-alert-success: #46d054;

    --animation-fast: .4s cubic-bezier(.3, 1, .3, 1);
    --animation-primary: .6s cubic-bezier(.3, 1, .3, 1);
    --animation-smooth: .8s cubic-bezier(.3, 1, .3, 1);
    --animation-slow: .8s cubic-bezier(.6, 0, .2, 1);
    --animation-slider: 1.2s cubic-bezier(.6, 0, .2, 1);
    --animation-nav: .4s cubic-bezier(.3, 0, .3, 1);
    --animation-nav-smooth: .6s cubic-bezier(.3, 0, .3, 1);

    --gap: calc(var(--title-size) * 0.3);

    --section-padding: calc(var(--title-size) * 1.2);
    --container-padding: calc(var(--gap) * 1.5);

    --title-size: clamp(5em, 7.5vw, 7.5em);

    --copy-size-l: 0.9em;
    --copy-size-m: 0.8em;
    --copy-size-s: 0.725em;

    --border-radius: 100em;

    --btn-height: 3em;
    --btn-height-small: 2.625em;
    --btn-shadow-distance: 1.25em;
    --nav-bar-height: calc(var(--btn-height) + (var(--gap) * 2));
    --nav-bar-height-mobile: calc(var(--btn-height) + (var(--gap) * 0.6));
    --card-width: calc(var(--title-size) * 2.25);
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'abc-whyte', sans-serif;
    color: var(--color-text);
    line-height: 1.5;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    font-size: clamp(16px, 1.2vw, 19px);
    background-color: var(--color-light);
    overscroll-behavior-y: none;
    width: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    position: relative;
}


@font-face {
    font-family: 'ABC Whyte';
    src: url('../public/fonts/Whyte-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kaftan Serif';
    src: url('../public/fonts/Victor\ Bartis\ -\ Kaftan\ Serif.otf') format('otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}